.nav-bar-container {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
}

.nav-bar-first-part {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.website-logo {
    display: flex;
    margin: 0;
    color: #747579;

}

.website-logo-dot {
    color: red;
}

.nav-bar-second-part {
    width: 50%;
}

.nav-bar-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar-links {
    color: #747579;
    font-weight: 600;
}

.nav-bar-links:hover {
    color: red;
    text-decoration: none;
}

.categories-dropdown-navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

.categories-hd-container {
    display: flex;
    cursor: pointer;
}

.categories-hd {
    margin: 0%;
    color: #747579;
    font-weight: 600;
}

.categories-hd:hover {
    color: red;
}

.categories-dropdown {
    visibility: hidden;
    opacity: 0;
    width: 220px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.15);
    padding: 20px;
}

.categories-dropdown-navbar:hover .categories-dropdown {
    top: 55px;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.categories-dropdown-list {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    margin: 0;
}

hr {
    margin: 0px;
}

.categories-dropdown-list-items {
    list-style-type: none;
    font-weight: 600;
    color: #747579;
    height: 35px;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.categories-dropdown-list-items:hover {
    color: red;
}

.nav-bar-third-part {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar-btn {
    width: 130px;
    height: 38px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #E84545;
    color: white;
    border: none;
    transition: 0.5s;
}

.nav-bar-btn:hover {
    cursor: pointer;
    background-color: #e84545e4;
}

.nav-bar-btn:focus {
    outline: none;
}

.nav-bar-responsive-icon {
    font-size: 30px;
    display: none;
    margin-right: 10px;
}


.home-page-main-container {
    background-image: url(./images/website-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.home-page-child-container {
    background-image: linear-gradient(to right, rgba(14, 13, 13, 0.76), rgba(0, 0, 0, 0.551));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.welcome-text-container {
    width: 700px;
    margin-left: 10%;
}

.welcome-text-hd {
    color: white;
    font-weight: 700;
    font-size: 55px;
}

.welcome-text-para {
    color: rgb(205, 195, 195);
    font-size: 23px;
}

.welcome-text-input-and-btn-container {
    position: relative;
}

.welcome-text-email-input {
    width: 550px;
    height: 65px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    color: #676363;
}

.welcome-text-input-btn {
    height: 45px;
    width: 100px;
    background-color: #E84545;
    color: white;
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    right: 160px;
    cursor: pointer;
}

.welcome-text-input-btn:focus {
    outline: none;
}


.other-websites-images-container {
    width: 100%;
    height: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}

.other-website-image {
    width: 8vw;
    filter: grayscale(100);
    opacity: 0.5 !important;
    transition: 0.5s !important;
}

.other-website-image:hover {
    filter: none;
    opacity: 1 !important;
    cursor: pointer;
}


@media (max-width:900px) {
    .nav-bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar-second-part {
        display: none;
    }

    .nav-bar-third-part {
        width: 50%;
    }

    .nav-bar-responsive-icon {
        display: block;
        cursor: pointer;
    }

    .welcome-text-container {
        margin: 0px;
        width: max-content;
    }

    .welcome-text-hd {
        text-align: center;
        font-size: 45px;
    }

    .welcome-text-para {
        text-align: center;
    }

    .welcome-text-email-input {
        width: 80vw;
        margin-left: 10px;
    }

    .welcome-text-input-btn {
        right: 16vw;
    }
}